- if current_user
  %h2.welcome= "Aqui está um bolo de morango pra você, #{current_user.name}"

  = link_to "Obrigado(a) pelo bolo, mas eu quero sair", logout_path, method: :delete, id: "logout-link"

  = image_tag "bolo-de-morango.jpg"