%h2 Posts

- if @posts.any?
  %table
    %thead
      %tr
        %th Título
        %th Conteúdo
    %tbody 
      - @posts.each do |post|
        %tr
          %td= post.title
          %td= link_to(post.content, post_path(post.id))
- else
  %p Não há posts publicados