<<<<<<< HEAD
%h2 New Post

= form_for(@post) do |f|
  %p
    Título:
    = f.text_field :title
  %p
    Conteúdo:  
    = f.text_field :content
  = f.submit 'Enviar'
=======
%h2 New Post
>>>>>>> parent of b91b8cd... Implement post form
